{% extends "base.html" %}

{% block title %}Home-SharedPlate{% endblock %}

{% block content %}

  <h1>Welcome to Shared Plate!</h1>

  <h2> Create a Group</h2>

  <form method="POST">
      <input type="text" name="group_name" placeholder="Group Name" required>

      <select name="privacy">
          <option value="public">Public</option>
          <option value="private>Private</option>
      </select>

      <button type="submit">Create Group</button>
  </form>

  <hr>

  <form method="get" action="{{ url_for('home') }}" autocomplete="off">
    {{ form.hidden_tag() }}
    {{ form.search(placeholder='Search') }}
    {{ form.submit }}
  </form>

  {% if recipes %}
    <ul class="recipes">
      {% for recipe in recipes %}
        <li class="recipe">
          <h2><a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h2>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No Public Recipes</p>
  {% endif %}
{% endblock %}
