{% extends "base.html" %}

{% block content %}
<h1>Shared Plate</h1>
<p>Sharing recipes with your family is just a click away. Here you can store all of your
    cherished family recipes in one place. Join a group and get to sharing!</p>
<h2>Login</h2>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
    <p>Email or Username:<br>
    <input type="text" name="email" required></p>

    <p>Password:<br>
    <input type="password" name="password" required></p>

    <button type="submit">Login</button>
</form>

<p><a href="{{ url_for('forgot_password') }}">Forgot Password?</a></p>
<p>Or maybe you don't have an account? Don't worry, you can <a href="{{ url_for('register') }}">Sign up</a> here!</p>

{% endblock %}
